* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

li {
  list-style: none;
}
main {
  display: flex;
}

header {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;

  h1 {
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: normal;
    vertical-align: middle;

    a {
      text-decoration: none;
      color: white;
      font-size: 18px;
    }
  }

  nav {
    width: 24%;

    ul {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      .logo_nav {
        a {
          background-color: green;
        }

      }

      li {
        :hover {
          background-color: green;
        }
        :focus {
          background-color: green;
        }

        a {
          padding: 16px 15px;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

// Fin Header//////////////////////////////////////////////////////////////////////////////////////////////////////////////

.left_part {
  background-color: black;
  // height: 80em;
  width: 17%;
  padding-top: 10px;
  .nav_left_part {

    h2 {
          color: #969696;
          font-size: 0.7em;
          font-weight: lighter;
          padding-left: 23px;
          padding-bottom: 20px;
    }
    ul {
      .last_li {
        border-bottom: 1px solid grey;
      }
      li {
        border-top: 1px solid grey;
        :hover {
          background-color: green;
          text-decoration: underline;
        }
        a {
          display: block;
          width: 100%;
          text-decoration: none;
          p{
            padding: 10px 20px;
            font-size: 0.7em;
            color: white;
            i {
              font-size: 1.5em;
              padding-right: 13px;

            }

          }
        }

      }
    }
  }
  .marge_left_part {
    padding-left: 18px;
    padding-right: 18px;
  }
  input {
    background-color: #191919;
    border-radius: 3px;
    border: 1px solid #666666;
    font-size: 0.7em;
    margin-top: 4em;
    padding: 4px 4px;
  }


  .article_left_part {
    padding-top: 60px;
    h3 {
      color: white;
      font-size: 0.8em;
    }
    img {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 15px;
    }
    p {
      color: #969696;
      font-size: 14px;
      font-style: italic;
    }
    a {
      color: white;
      text-decoration: none;
      font-size: 14px;
      :hover {
        text-decoration: underline;
      }
    }
  }
  .footer_left_part {
    h3 {
      color: white;
      font-size: 0.8em;
      padding-top: 35px;
      padding-bottom: 20px;
    }
    ul {
      li {
        :hover {
          background-color: green;
          text-decoration: underline;
        }
        a {
          padding: 4px 0px;
          display: block;
          width: 100%;
          text-decoration: none;
          font-size: 0.8em;
          color: white;

        }
      }
    }
    p {
      padding-top: 45px;
      font-size: 12px;
      color: grey;
    }
    a {
      color: white;
      text-decoration: none;
      font-size: 12px;
      :hover {
        text-decoration: underline;
      }
    }
  }
}
// Fin left part//////////////////////////////////////////////////////////////////////////////////////////////////////////////

.right_part {
  width: 83%;

.first_section_central {
  width: 100%;
  height: 22em;
  background-color: black;
  ul {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    li {
      width: 25%;
      height: 20em;

      article {

        flex-direction: column;
        // display: flex;
        height: 100%;
        img {
          height: auto;
          margin-bottom: 10px
      }
        h4 {
          padding-top: 20px;
          color: white;
          font-size: 15px;

      }
        a {
          color: white;
      }
    }
    }

  }
}

.second_section_central {
  display: flex;
  width: 100%;
  .left {
    padding-left: 150px;
    padding-right: 108px;
    width: 65%;
    h5 {
      margin-top: 75px;
      margin-bottom: 250px;
      font-size: 30px;
      font-weight: normal;

    }
    p {
      margin-bottom: 42px;
      font-size: 14px;
      color: #444;
      a {
        color: green;
        text-decoration: none;
      }
    }
  }
  .right {
    width: 35%;

    padding-right: 10px;
    img {
      width: 100%;
    }
    h4 {
      font-size: 20px;
      padding-top: 20px;
      margin-top: 75px;
      margin-bottom: 50px;
      border-top: 6px solid black;

    }
    ul {
      margin-bottom: 20px;
      .li_millieu{
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      li {




        a{
          display: block;
          color: green;
          font-size: 14px;
          text-decoration: none;
          margin-bottom: 4px;
          :hover {
            text-decoration: underline;
          }
        }

        p{
          margin-bottom: 4px;
          font-style: italic;
          font-size: 14px;
          color: #969696;

      }
    }
  }


    .titre_logo {
        border-top: 4px solid black;
        padding-bottom: 20px;
      h5 {

        display: inline;
    }
    i {
      color: white;
      background-color: black;
      padding: 10px 10px;
      margin-right: 10px;
    }

    }
    .barre {
      padding-top: 12px;
      font-size: 13px;
      color: #969696;
      font-style: italic;
      padding-bottom: 12px;
      margin-bottom: 50px;
      border-bottom: 1px solid #eee;
      a{
        text-decoration: none;
        color: green;
        :hover {
          text-decoration: underline;
        }
      }
    }
  }

}

}


// Fin du main//////////////////////////////////////////////////////////////////////////////////////////////////////////////

footer {
  p {
    font-size: 14px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom : 20px;
    color: grey;
    background-color: black;
  }
}
